html {
    box-sizing: border-box;
}

.gridContainer{
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    margin: auto;
    height: 1000px;
    width: 1000px;
}

.gridBox {
    border-style: solid;
    border-color: black;
    background-color: rgb(255,255,255);
    margin: -1px;
    padding: 0;
    border-width: 1px;

}

.generatorButton {
    margin: 20px; 
    font-size: 32px;
    
}