html {
    box-sizing: border-box;
}

.gridContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    height: 1000px;
    width: 1000px;
}

.gridBox {
    border-style: solid;
    border-color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    border-width: 1px;
    width: 60.5px;
    height: 60.5px;
}